<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<header>
    <a href="/restaurants/new"><button id="new-button">Add New Restaurant</button></a>
    <a href="/restaurants/:id"><button id="random-button">What's For Dinner?</button></a>
    <a href="/restaurants/favorites"><button id="fav-button">My Favorites</button></a>
    
</header>
<body>
    <img src="<%= restaurant.image %>" alt="">
    <h1><%= restaurant.name %></h1>
    <h2><%= restaurant.info %></h2>
    <h3><%= restaurant.price %> </h3>
    <label>
   Have I Tried:  <input type="checkbox" name="haveITried" <%= restaurant.haveITried ? "checked" : "" %> />
</label><br>
    <form action="/restaurants/<%= index %>?_method=DELETE" method="POST">
    <input type="submit" value="delete"/>
    </form>
    <a href="/restaurants"><button>Back</button></a>
<a href="/restaurants/try"><input type="submit" value="Add To Try List"></a>
</body>
</html>